<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BackOffice</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="d-flex ms-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" routerLink="/grupo">Grupos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" routerLink="/user">Usuarios</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" routerLink="/ticket">Tickets</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" routerLink="/producto">Productos</a>
          </li>
        </form>
      </div>
    </div>
  </nav>

  