
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Listado de Grupos</h4>
        <button type="button" class="btn btn-primary" routerLink="add">Añadir Grupo</button>
    </div>
    
    <table *ngIf="listGrupos.length>0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Users</th>
            <th scope="col">Tickets</th>

            <!--<th scope="col">Created At</th>
            <th scope="col">Update At</th> -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listGrupos" class="table-active">
            <td>{{item.name}}</td>
            <td>{{item.password}}</td>
            <td>{{item.users}}</td>
            <td>{{item.tickets}}</td>

            <!-- <td>{{item.createdAt}}</td>
            <td>{{item.updatedAt}}</td> -->
            <td>
                <button routerLink="edit/{{item?._id}}" type="button" class="btn btn-info btn-sm">Edit</button>
                <button (click)="deleteGrupo(item._id!)" type="button" class="btn btn-secondary btn-sm ms-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="listGrupos.length==0">No hay grupos para mostrar</h5>
</div>